<header class="header">
  <div class="content-wrapper">
    <div class="header-wrapper flex vertical-align_center">
      <div class="header-burger-menu">
        <svg-icon src="./assets/icons/menu.svg"/>
      </div>

      <div class="header-logo">
        <app-logo />
      </div>

      <menu 
        class="header-pc-menu flex header-links vertical-align_center"
      >
        @for(link of linksDataList; track $index) {
          <app-link
            variant="white"
            [link]="link" 
            class="header-link-item-{{link.iconSrc}}"
            >
          </app-link>
        }

        <app-main-search-input />
      </menu> 

      <button class="header-add-item">
        <svg-icon src="./assets/icons/add.svg"></svg-icon>
      </button>
    
      <div class="header-user-wrapper flex vertical-align_center">
        <app-badge [numberOfNotifications]="32" />
          
        <app-avatar />
      </div>
    </div>
  </div>
</header>